.custom-list-item-meta .ant-list-item-meta-content {
    width: auto !important;
}
.searchBox {
    border-radius: 10px;
    border: 3px solid rgba(140, 140, 140, 0.35);

}

.infiniteList_wrapper {
    height: 75vh;
    overflow: auto;
    width: 95%;
    padding: 0 10px;
    border: 1px solid rgba(140, 140, 140, 0.35);
    border-radius: 15px;
}

.toggleRadius {
    width: 45%;
    border-radius: 10px;
    border: 3px solid rgba(140, 140, 140, 0.35);
}
.toggleRadiusWrapper{
    width: 75%;
    padding: 30px;
    position: absolute;
    bottom: 20%;
}