.custom-list-item-meta .ant-list-item-meta-content {
    width: auto !important;
}
.searchBox {
    border-radius: 10px;
    border: 3px solid rgba(140, 140, 140, 0.35);

}

.infiniteList_wrapper {
    height: 75vh;
    overflow: auto;
    width: 95%;
    padding: 0 10px;
    border: 1px solid rgba(140, 140, 140, 0.35);
    border-radius: 15px;
}

.toggleRadius {
    width: 45%;
    border-radius: 10px;
    border: 3px solid rgba(140, 140, 140, 0.35);
}
.toggleRadiusWrapper{
    width: 75%;
    padding: 30px;
    position: absolute;
    bottom: 10%;
}

.listCategories {
    overflow-y: auto;
    height: 400px;
    width: 100%;
}
.custom-scrollbar::-webkit-scrollbar {
    width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #a1a0a0;
    border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}